/* 공통스타일 */
@charset "UTF-8";

*, :before, :after {box-sizing: border-box;}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

/* button태그에 손모양 커서 */
button {cursor: pointer}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
/* 페이지안에서 가장 많은 링크색 지정 */
a {text-decoration: none; color: #000 ;font-size:16px}
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌
*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%; table-layout: fixed;}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%; color:#000;text-align: center;}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴 */
input,select,textarea,button {vertical-align: middle; margin: 0; padding: 0}
/* textarea 리사이즈기능 빼기 */
textarea {resize: none}
/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
모바일 크롬, 모바일 사파리 브라우져의 텍스트 자동확대 방지
*/
body {line-height: 1.5; -webkit-text-size-adjust:none}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend,caption,.blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}

/* 공통스타일 */
/* skip Navgation */
#skipNavi a {position:absolute; left:0; top:0; width:100%; line-height: 40px; background:rgba(28, 28, 28, 0.8); color: #fff; z-index:99999; text-align:center; transform: translateY(-100%);}
#skipNavi a:focus {transform: translateY(0);}

body,input,select,textarea,button,table {
    font-family: 'Noto Sans KR','맑은 고딕','malgun gothic','돋움','dotum',sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 1.75;
    letter-spacing: -0.03em;
}
/* placeholder공통 */
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #999;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; 
}
/* //--공통스타일 끝--//  */

.App {position: relative;background:#ededed;}
.pointText {color:#0071e3; font-weight:700; font-size: 36px;margin-bottom:60px}


.header {padding: 0 130px;position:fixed;top:0;left:0;width:100%;background:#fff;z-index:9999;}
.header .logo {float: left;width:38px;height:41px;padding-top: 30px;}
.header .logo img {width:100%}
.header .gnb {float:right;overflow: hidden;}
.header .gnb li {float: left;line-height: 100px;margin-right:20px;}
.header .gnb li:last-child {margin-right:0}
.header .gnb li a {display:block;font-size: 24px; font-weight: 700; color:#000;}

.main {height: 600px;margin-top:100px;background:#000;}
.main .main_tit {font-size: 40px;text-align: center;padding:50px 0 0 ;}
.main .main_visual {padding:240px 35px;}
.main .main_visual .text_wrap {width:100%;}
.main .main_visual .text_wrap p {font-size:32px;color:#f5f5f7;text-align: center;font-weight: 700;}

#about {padding:60px 130px;overflow: hidden;}
#about .topBox {overflow: hidden;}
#about .topBox li {float: left;width:33.333%;height: 240px;text-align: center;padding:35px 0}
#about .topBox li .icon {width:60px;height:60px;}
#about .topBox li h3 {font-size:24px; font-weight: 500;padding:20px 0}
#about .topBox li p {color:#525152;}

#about .bottomBox {padding-top:20px}
#about .bottomBox .profile {float: left; width:50%;text-align: center;padding:30px 0;}
#about .bottomBox .profile ul li {padding:5px 0}
#about .bottomBox .profile ul li.p_img {width:180px;margin:0 auto;box-shadow: 1px 1px grey;}
#about .bottomBox .profile ul li.p_img img {width:100%}
#about .bottomBox .profile ul li.p_name {font-size: 20px; font-weight: 500; color:#535152}
#about .bottomBox .profile ul li .icon_git {width:40px;height: 40px}
#about .bottomBox .education,.license {float:right;width:50%;text-align: center;padding:30px 0;}
#about .bottomBox .education ul li:nth-child(2),#about .license ul li:nth-child(2) {padding-bottom:10px}
#about .bottomBox .education ul li .icon_edu,#about .license ul li .icon_edu{margin-right: 10px;}

#skills {padding:60px 130px;background:#ededed;}
#skills .skills_box {overflow: hidden;padding:0 332px}
#skills .skills_box li {float:left;margin:0 10px}
#skills .skills_box li .icon_skiils {width:128px;height: 60px;margin:30px 0}
#skills .skills_box li p {text-align: center;font-weight: 500;color:#525152;font-size:18px;}

.fontBg {background:yellow}
#project {padding:60px 130px;}
#project .box {overflow: hidden;width:1200px;margin:0 auto;padding:30px 0;}
#project .box .text_wrap {float: left;width:600px;text-align: center;padding: 30px 0;font-size: 18px;}
#project .box .text_wrap .icon_code {color:#000;margin-right:10px}
#project .box .text_wrap h4 {font-size: 28px;margin-bottom:20px;font-weight:500;}
#project .box .text_wrap p {padding-bottom:10px;color:#292929;font-weight: 500;}
#project .box .text_wrap a {display:inline-block;width:100px;border:1px solid #0071e3; background:#0071e3;border-radius: 30px;color:#fff;margin:20px 10px ;line-height: 40px;}
#project .box .img_box {float:right;width:600px;}
#project .box .img_box .img_wrap img {width:100%;height: 280px;}

#project .box2 .text_wrap {float: right;}
#project .box2 .img_box {float:left;width:600px;}

.connect {background:#ededed;text-align: center;padding:60px 130px}
.connect .icon_connect {width:100px;height: 60px;}
.connect p {font-size: 24px;font-weight: 500;}